<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.retrodaredevil.solarthing.android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
            android:name=".SolarThingWearApplication"
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
                android:name="com.google.android.wearable"
                android:required="true" />

        <meta-data android:name="com.google.android.wearable.standalone" android:value="false" />

        <activity
                android:name=".WearDisplayActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:icon="@drawable/charging"
                android:name=".BatteryVoltageComplicationProviderService"
                android:label="@string/complication_battery_voltage"
                android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">

            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>

            <meta-data
                    android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                    android:value="SHORT_TEXT"/>

            <meta-data
                    android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                    android:value="300"/>
        </service>
        <service
                android:name=".BatteryTemperatureComplicationProviderService"
                android:icon="@drawable/battery"
                android:label="@string/complication_battery_temperature"
                android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>

            <meta-data
                    android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                    android:value="SHORT_TEXT"/>

            <meta-data
                    android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                    android:value="300"/>
        </service>
        <service android:name=".DataListener">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:path="/basic-solar" />
            </intent-filter>
        </service>

        <receiver android:name=".TapBroadcastReceiver"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
    </application>

</manifest>