<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android:persistent" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />

    <application
        android:name=".SolarThingApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity
                android:name=".activity.EventDisplayActivity"
                android:label="@string/title_activity_event_display"
                android:theme="@style/AppTheme.NoActionBar" android:launchMode="singleTask"/>

        <receiver android:name=".widget.BatteryVoltageWidget"
                android:exported="false">
            <!--exported is false because we don't need other apps to be able to update the battery voltage widget themselves-->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/battery_voltage_widget_info" />
        </receiver>
        <receiver
                android:name=".widget.WidgetHandler"
                android:permission=""
                android:exported="false">
            <intent-filter>
                <action android:name="me.retrodaredevil.solarthing.android.service.SOLAR_PACKET_COLLECTION" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.CommandActivity" android:launchMode="singleInstance"/>

        <!-- TODO think about using ACTION_USER_UNLOCKED to try and start the service. This comes before BOOT_COMPLETED and doesn't require directBootAware -->
        <receiver
            android:name=".BootReceiver"
            android:directBootAware="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.MainActivity" android:launchMode="singleTask"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.ConnectionSettingsActivity"
                android:launchMode="singleTask" />
        <activity
                android:name=".activity.SolarSettingsActivity"
                android:launchMode="singleTask" />
        <activity
                android:name=".activity.MiscSettingsActivity"
                android:launchMode="singleTask" />

        <service
                android:name=".service.PersistentService"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
                android:name=".service.CancelCommandService"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
